In [2]:
import pandas as pd
from functools import reduce
import warnings
warnings.filterwarnings('ignore')

In [11]:
def preprocess_(path,  slice, column_, encoding=None, header='infer'):
    
    df = pd.read_csv(path, encoding=encoding, header=header)
    
    if slice:
        df = df[slice]

    df.columns = column_

    if (type(df.iloc[:,1][1])==str):
        df.iloc[:,1] = df.iloc[:,1].apply(lambda x: float(x.replace(',', '')))
        
    df['Date'] = df['Date'].str.replace('[^0-9]', '')
    df['Date'] = df['Date'].apply(lambda x: x[:4]+'-'+x[4:6]+'-'+x[6:])
    df['Date'] = pd.to_datetime(df['Date'])

    df.sort_values('Date', inplace=True)
    df.reset_index(inplace=True)
    df.drop(['index'], axis=1, inplace=True)

    return df

In [38]:
# 데이터 불러오기
# Gold = pd.read_csv('./csv/Gold.csv')
# REMX = pd.read_csv('./csv/REMX.csv')
VIX = pd.read_csv('./csv/VIX.csv')
KS200 = pd.read_csv('./csv/KS200.csv')
# ExchangeRate = pd.read_csv('./csv/ExchangeRate.csv')
VIX

          Date    VIX
0     08/01/02  23.17
1     08/01/03  22.49
2     08/01/04  23.94
3     08/01/07  23.79
4     08/01/08  25.43
...        ...    ...
3590  22/03/25  20.81
3591  22/03/28  19.63
3592  22/03/29  18.90
3593  22/03/30  19.33
3594  22/03/31  20.56

[3595 rows x 2 columns]

In [37]:
VIX['Date'] = pd.to_datetime(VIX['Date'])
VIX

           Date    VIX
0    2002-08-01  23.17
1    2003-08-01  22.49
2    2004-08-01  23.94
3    2007-08-01  23.79
4    2008-08-01  25.43
...         ...    ...
3590 2025-03-22  20.81
3591 2028-03-22  19.63
3592 2029-03-22  18.90
3593 2030-03-22  19.33
3594 2031-03-22  20.56

[3595 rows x 2 columns]

In [32]:
VIX

          Date    VIX
0     02/08/01  23.17
1     03/08/01  22.49
2     04/08/01  23.94
3     07/08/01  23.79
4     08/08/01  25.43
...        ...    ...
3590  25/03/22  20.81
3591  28/03/22  19.63
3592  29/03/22  18.90
3593  30/03/22  19.33
3594  31/03/22  20.56

[3595 rows x 2 columns]

In [26]:
# 병합
from functools import reduce
dfs = [VIX, KS200]
union = reduce(lambda left, right: pd.merge(left, right, on='Date', how='inner'),dfs)
union

         Date    VIX   KS200
0    16/08/01  24.38  253.81
1    17/08/01  28.46  317.04
2    18/08/01  27.18  298.69
3    19/08/02  25.59  262.99
4    21/08/02  25.12  426.79
..        ...    ...     ...
546  16/03/22  26.67  245.41
547  17/03/22  25.67  282.63
548  18/03/22  23.87  323.32
549  21/03/22  23.53  412.64
550  22/03/22  22.94  361.66

[551 rows x 3 columns]

In [15]:
# union.to_csv('./csv/merge.csv', index=None)